@charset "UTF-8";

body {
	background: url('/images/form-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

li a {
	text-transform: uppercase;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}